include README.rst
include LICENSE
include setup.py

include src/_sym2eps.c
include src/_sym2eps.h
include _sym2eps.pxd
include sym2eps.c
include sym2eps.pyx

include tox.ini
include test/symbol.sym
include test/test_sym2eps.py
